:root {
  --bg-primary: #f8f9fc;
  --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
  --pink: #f14e95;
  --color-primary-light-brown: #edc;
  --text-primary: #2e4374;
  --text-secondary: #757b89;
  --text-green: #bad8b6;
  --text-light-brown: #fffaec;
  --blue: #1e55b3;
  --buttonColor: linear-gradient(90deg, #175e9a 0%, #7397f3 100%);
  --buttonColorHover: linear-gradient(90deg, #1e71b5 0%, #84a7ff 100%);
}

body {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  background: var(--bg-primary);
  /* min-height: 4000px; */
}

/* NAVBAR */

.mynavbar .active {
  border-bottom: 2px solid var(--blue);
  font-weight: bold;
  color: var(--blue) !important;
}

.mynavbar {
  box-shadow: 0 2px 2px rgb(0 0 0 / 0.1);
}

.mynavbar ul li a {
  color: var(--text-secondary);
}
.mynavbar ul li a:hover {
  color: var(--blue);
  font-weight: bold;
}

/* NAVBAR */
/* ======================================================================================= */
/* HERO */

#hero {
  min-height: 100vh;
  background-image: url(img/Group\ 95.png);
  background-repeat: no-repeat;
}

#hero h1 {
  color: var(--text-green);
  font-weight: bold;
}

#hero h6 {
  color: var(--text-light-brown);
}

#hero .lihat-tema {
  background: var(--buttonColor);
  border: none;
}

#hero .lihat-tema:hover {
  background: var(--buttonColorHover);
}

#hero .via-wa {
  background: var(--buttonColor);
  border: none;
}

#hero .via-wa:hover {
  background: var(--buttonColorHover);
}

/* HERO */

/* ================================================================================================= */

/* ALASAN */

#alasan {
  padding-top: 5rem;
  min-height: auto;
}

#alasan h1,
#alasan h4,
#fitur h1,
#fitur h5,
#tema h1,
#harga h1,
#tentang_kami h1,
#tentang_kami h5,
#fitur h4 {
  font-weight: bold;
  color: var(--text-primary);
}

#alasan h6,
#alasan p,
#fitur h6,
#fitur p,
#tema h6,
#harga h6,
#tentang_kami h6 {
  color: var(--text-secondary);
}

#alasan span {
  color: var(--pink);
}

/* ALASAN */

/* ==================================================================================================================== */

/* FITUR */

#fitur {
  min-height: auto;
  padding-top: 5rem;
}

#fitur .card {
  min-height: auto;
  margin-top: 1rem;
  border-radius: 20px;
}

/* FITUR */

/* ================================================================================================================= */

/* TEMA */

#tema {
  padding-top: 5rem;
  min-height: auto;
}

#tema nav button {
  color: var(--text-primary);
}

#tema nav button:hover {
  background: var(--text-secondary);
  color: var(--bg-primary);
}

#tema .card a {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-weight: bold;
  border: none;
}
#tema .card a:hover {
  background-color: var(--text-light-brown);
}

#tema .bg-light a {
  color: var(--bg-primary);
  background: var(--text-primary);
  font-weight: bold;
  border: none;
}
#tema .bg-light a:hover {
  background-color: var(--blue);
}

#tema .card {
  min-height: auto;
  margin-top: 1rem;
  background-color: var(--text-primary);
  border-radius: 10px;
}

/* TEMA */

/* ================================================================================================================== */

/* HARGA */

#harga {
  min-height: auto;
  padding-top: 5rem;
}

#harga .card {
  min-height: auto;
  margin-top: 1rem;
  border-radius: 20px;
}

#harga .via-shopee {
  background: var(--buttonColor);
  font-weight: bold;
  border: none;
}

#harga .via-shopee:hover {
  background: var(--buttonColorHover);
}

#harga .via-wa {
  background: var(--buttonColor);
  font-weight: bold;
  border: none;
}

#harga .via-wa:hover {
  background: var(--buttonColorHover);
}

#harga .card-header {
  background: #16404d;
}

/* HARGA */

/* ================================================================================================================== */

/* TENTANG KAMI */

#tentang_kami {
  padding-top: 5rem;
  padding-bottom: 5rem;
  min-height: auto;
}

#tentang_kami .card {
  min-height: 220px;
  min-width: 180px;
  margin-top: 1rem;
  border-radius: 20px;
}

/* TENTANG KAMI */

/* .footer {
} */

.footer h1 {
  font-family: "Sacramento", cursive;
  font-weight: bold;
  color: var(--blue);
}

.footer span {
  font-family: "Sacramento", cursive;
  font-weight: bold;
  color: var(--blue);
}

.footer .copyright {
  font-size: 1rem;
  text-align: right;
}

/* FOOTER */

/* ============================================================================================================= */

/* ++++++++++++++++++++++++++++++++++ TEMPLATE UNDANGAN ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* OPEN UNDANGAN */

#open-undangan {
  min-height: 100vh;
  background-image: url(img/bg-template.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

#open-undangan .container {
  width: 100%; /* Agar background merah tetap penuh */
  max-width: 430px;
  min-height: 100vh;
}

#open-undangan h1 {
  color: var(--text-primary);
  font-family: "Allura", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

#open-undangan h5 {
  color: var(--text-primary);
  font-size: 16px;
}
#open-undangan h6 {
  color: var(--text-primary);
  font-size: 13px;
}
#open-undangan p {
  color: var(--text-primary);
  font-size: 12px;
}

#open-undangan button {
  width: 193px;
  color: var(--bg-primary);
  background: var(--text-primary);
  font-weight: bold;
  border: none;
}
#open-undangan button:hover {
  background-color: var(--blue);
}

/* .header {
  margin-bottom: 15rem !important;
} */

.couple {
  z-index: 1 !important;
}

.flower-1 {
  z-index: 0;
}
.flower-2 {
  z-index: 0;
}
.flower-3 {
  z-index: 0;
}
.flower-4 {
  z-index: 0;
}
.flower-5 {
  z-index: 0;
}

/* OPEN UNDANGAN */

/* ++++++++++++++++++++++++++++++++++ TEMPLATE UNDANGAN ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Media Query */
/* Extra large */
@media (max-width: 1200px) {
  /* +++++++++++++++++++++++++++++++ TEMPLATE UNDANGAN ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

  /* +++++++++++++++++++++++++++++++ TEMPLATE UNDANGAN ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
}

/* laptop */
@media (max-width: 992px) {
  .hero {
    padding-top: 15rem !important;
    padding-bottom: 0rem !important;
  }

  .hero img {
    position: relative;
    top: -100px !important;
    right: -400px !important;
  }

  #harga h3 {
    font-size: 20px;
  }

  #harga h6 {
    font-size: 9px;
  }

  #harga a {
    font-size: 12px;
  }

  /* +++++++++++++++++++++++++++++++ TEMPLATE UNDANGAN ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

  /* +++++++++++++++++++++++++++++++ TEMPLATE UNDANGAN ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
}

/* tablet */
@media (max-width: 768px) {
  .mynavbar .active {
    border-bottom: none;
  }

  #fitur .card {
    min-height: auto;
  }

  #harga .row {
    display: flex;
    justify-content: center;
  }

  #harga h3 {
    font-size: 20px;
  }

  #harga h6 {
    font-size: 16px;
  }

  #harga a {
    font-size: 16px;
  }

  /* +++++++++++++++++++++++++++++++ TEMPLATE UNDANGAN ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

  /* +++++++++++++++++++++++++++++++ TEMPLATE UNDANGAN ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
}

/* mobile phone */
@media (max-width: 576px) {
  #hero h1,
  #alasan h1,
  #fitur h1,
  #tema h1,
  #harga h1,
  #tentang_kami h1 {
    font-size: 24px;
  }

  #fitur h4 {
    font-size: 20px;
  }
  #hero h6,
  #alasan h6,
  #fitur h6,
  #tema h6,
  #harga h6,
  #tentang_kami h6 {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
  }

  #alasan h4 {
    font-size: 16px;
  }
  #alasan p {
    font-size: 12px;
  }

  #alasan img {
    width: 20px;
  }

  #alasan .row {
    padding-top: 2rem;
  }
  #alasan .features {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  #fitur .card {
    min-height: auto;
    min-width: none;
  }

  #fitur h5 {
    font-size: 18px;
  }
  #fitur p {
    font-size: 12px;
  }

  footer .container {
    text-align: center;
  }

  footer .copyright {
    text-align: center !important;
  }

  /* ++++++++++++++++++++++ TEMPLATE UNDANGAN ++++++++++++++++++++++++++++++++++++++++++++++ */
  /* .header {
    margin-bottom: 0rem !important;
  } */
  /* ++++++++++++++++++++++ TEMPLATE UNDANGAN ++++++++++++++++++++++++++++++++++++++++++++++ */
}
