:root {
  --bg-primary: #f8f9fc;
  --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
  --pink: #f14e95;
  --color-primary-light-brown: #edc;
  --text-primary: #2e4374;
  --text-secondary: #757b89;
  --text-green: #bad8b6;
  --text-light-brown: #fffaec;
  --blue: #1e55b3;
  --buttonColor: linear-gradient(90deg, #175e9a 0%, #7397f3 100%);
  --buttonColorHover: linear-gradient(90deg, #1e71b5 0%, #84a7ff 100%);
}

body {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  background: var(--bg-primary);
  /* min-height: 4000px; */
}

/* NAVBAR */

.mynavbar .active {
  border-bottom: 2px solid var(--blue);
  font-weight: bold;
  color: var(--blue) !important;
}

.mynavbar {
  box-shadow: 0 2px 2px rgb(0 0 0 / 0.1);
}

.mynavbar ul li a {
  color: var(--text-secondary);
}
.mynavbar ul li a:hover {
  color: var(--blue);
  font-weight: bold;
}

/* NAVBAR */
/* ======================================================================================= */
/* HERO */

#hero {
  min-height: 100vh;
  background-image: url(img/Group\ 95.png);
  background-repeat: no-repeat;
}

#hero h1 {
  color: var(--text-green);
  font-weight: bold;
}

#hero h6 {
  color: var(--text-light-brown);
}

#hero .lihat-tema {
  background: var(--buttonColor);
  border: none;
}

#hero .lihat-tema:hover {
  background: var(--buttonColorHover);
}

#hero .via-wa {
  background: var(--buttonColor);
  border: none;
}

#hero .via-wa:hover {
  background: var(--buttonColorHover);
}

/* HERO */

/* ================================================================================================= */

/* ALASAN */

#alasan {
  padding-top: 5rem;
  min-height: auto;
}

#alasan h1,
#alasan h4,
#fitur h1,
#fitur h5,
#tema h1,
#harga h1,
#tentang_kami h1,
#tentang_kami h5,
#fitur h4 {
  font-weight: bold;
  color: var(--text-primary);
}

#alasan h6,
#alasan p,
#fitur h6,
#fitur p,
#tema h6,
#harga h6,
#tentang_kami h6 {
  color: var(--text-secondary);
}

#alasan span {
  color: var(--pink);
}

/* ALASAN */

/* ==================================================================================================================== */

/* FITUR */

#fitur {
  min-height: auto;
  padding-top: 5rem;
}

#fitur .card {
  min-height: auto;
  margin-top: 1rem;
  border-radius: 20px;
}

/* FITUR */

/* ================================================================================================================= */

/* TEMA */

#tema {
  padding-top: 5rem;
  min-height: auto;
}

#tema nav button {
  color: var(--text-primary);
}

#tema nav button:hover {
  background: var(--text-secondary);
  color: var(--bg-primary);
}

#tema .card a {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-weight: bold;
  border: none;
}
#tema .card a:hover {
  background-color: var(--text-light-brown);
}

#tema .bg-light a {
  color: var(--bg-primary);
  background: var(--text-primary);
  font-weight: bold;
  border: none;
}
#tema .bg-light a:hover {
  background-color: var(--blue);
}

#tema .card {
  min-height: auto;
  margin-top: 1rem;
  background-color: var(--text-primary);
  border-radius: 10px;
}

/* TEMA */

/* ================================================================================================================== */

/* HARGA */

#harga {
  min-height: auto;
  padding-top: 5rem;
}

#harga .card {
  min-height: auto;
  margin-top: 1rem;
  border-radius: 20px;
}

#harga .via-shopee {
  background: var(--buttonColor);
  font-weight: bold;
  border: none;
}

#harga .via-shopee:hover {
  background: var(--buttonColorHover);
}

#harga .via-wa {
  background: var(--buttonColor);
  font-weight: bold;
  border: none;
}

#harga .via-wa:hover {
  background: var(--buttonColorHover);
}

#harga .card-header {
  background: #16404d;
}

/* HARGA */

/* ================================================================================================================== */

/* TENTANG KAMI */

#tentang_kami {
  padding-top: 5rem;
  padding-bottom: 5rem;
  min-height: auto;
}

#tentang_kami .card {
  min-height: 220px;
  min-width: 180px;
  margin-top: 1rem;
  border-radius: 20px;
}

/* TENTANG KAMI */

/* .footer {
} */

.footer h1 {
  font-family: "Sacramento", cursive;
  font-weight: bold;
  color: var(--blue);
}

.footer span {
  font-family: "Sacramento", cursive;
  font-weight: bold;
  color: var(--blue);
}

.footer .copyright {
  font-size: 1rem;
  text-align: right;
}

/* FOOTER */

/* ============================================================================================================= */

/* ++++++++++++++++++++++++++++++++++ TEMPLATE UNDANGAN ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#template {
  font-size: 16px;
  font-family: "Comfortaa", serif;
  font-optical-sizing: auto;
  background: var(--bg-primary);
}

/* OPEN UNDANGAN */
.undangan-title {
  display: inline-block;
  position: relative;
  font-weight: bold;
  padding-top: 20px; /* Ruang untuk trapesium */
}

.undangan-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 100px;
  height: 0;
  border-bottom: 8px solid black; /* Tebal garis */
  border-left: 15px solid transparent; /* Miring kiri */
  border-right: 15px solid transparent; /* Miring kanan */
  transform: translateX(-50%);
}

#open-undangan {
  min-height: 100vh;
  background-color: #f4fafc;
  z-index: -1;
}

#open-undangan .container {
  width: 100%; /* Agar background merah tetap penuh */
  max-width: 480px;
  min-height: 100vh;
  background-image: url(img/bg-template.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#open-undangan h1 {
  color: var(--text-primary);
  font-family: "Allura", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

#open-undangan h5 {
  color: var(--text-primary);
  font-size: 16px;
}
#open-undangan h6 {
  color: var(--text-primary);
  font-size: 13px;
}
#open-undangan p {
  color: var(--text-primary);
  font-size: 12px;
}

#open-undangan button {
  width: 193px;
  color: var(--bg-primary);
  background: var(--text-primary);
  font-weight: bold;
  border: none;
}
#open-undangan button:hover {
  background-color: var(--blue);
}

#open-undangan .header {
  margin-bottom: 10rem;
  z-index: 1;
}

#open-undangan .couple {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  max-width: 140px;
  object-fit: contain;
}

#open-undangan .flower {
  position: absolute;
  bottom: 0;
  max-width: 70px;
  object-fit: contain;
}

#open-undangan .flower-1 {
  left: 0;
}
.flower-2 {
  left: 20%;
  transform: translateX(-20%);
}
#open-undangan .flower-3 {
  left: 50%;
  transform: translateX(-50%);
}
#open-undangan .flower-4 {
  left: 80%;
  transform: translateX(-80%);
}
#open-undangan .flower-5 {
  right: 0;
}

/* OPEN UNDANGAN */

/* MAIN UNDANGAN */

#main-undangan {
  min-height: 100vh;
  background-color: #f4fafc;
}

#main-undangan .container {
  width: 100%; /* Agar background merah tetap penuh */
  max-width: 480px;
  min-height: 100vh;
  background-image: url(img/bg-template.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#main-undangan .container h1 {
  color: var(--text-primary);
  font-size: 16px;
  font-weight: bold;
}

#main-undangan .container .couple-main {
  width: 200px;
}

#main-undangan .container .couple-name {
  font-family: "Allura", serif;
  font-size: 50px;
  font-weight: 400;
  display: inline-block;
  position: relative;
  display: inline-block;
  position: relative;
  padding: 20px 40px; /* Ruang untuk teks */
}

#main-undangan .container .couple-name::before,
#main-undangan .container .couple-name::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 14px; /* Ketebalan border */
  background-color: var(--text-primary);
}
#main-undangan .container .couple-name::before {
  top: 0;
  clip-path: polygon(0% 100%, 10% 0%, 90% 0%, 100% 100%);
}

#main-undangan .container .couple-name::after {
  bottom: 0;
  clip-path: polygon(0% 0%, 10% 100%, 90% 100%, 100% 0%);
}

#main-undangan .container .date-main {
  font-size: 40px;
  word-spacing: 20px;
  border-bottom: 3px solid var(--text-primary);
  border-top: 3px solid var(--text-primary);
}

#main-undangan .simply-countdown > .simply-section {
  padding: 35px;
  font-size: 12px;
  color: var(--bg-primary);
}
/* MAIN UNDANGAN */

/* ++++++++++++++++++++++++++++++++++ TEMPLATE UNDANGAN ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Media Query */
/* Extra large */
@media (max-width: 1200px) {
  /* +++++++++++++++++++++++++++++++ TEMPLATE UNDANGAN ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

  #main-undangan .container h1 {
    font-size: 30px;
  }

  #main-undangan .container .couple-name {
    font-size: 60px;
  }

  #main-undangan .container .couple-main {
    width: 300px;
  }

  #main-undangan .container .couple-name::before,
  #main-undangan .container .couple-name::after {
    width: 300px;
  }

  #main-undangan .container .date-main {
    font-size: 40px;
  }

  #main-undangan .simply-countdown > .simply-section {
    padding: 46px;
    font-size: 20px;
  }
  /* +++++++++++++++++++++++++++++++ TEMPLATE UNDANGAN ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
}

/* laptop */
@media (max-width: 992px) {
  .hero {
    padding-top: 15rem !important;
    padding-bottom: 0rem !important;
  }

  .hero img {
    position: relative;
    top: -100px !important;
    right: -400px !important;
  }

  #harga h3 {
    font-size: 20px;
  }

  #harga h6 {
    font-size: 9px;
  }

  #harga a {
    font-size: 12px;
  }

  #main-undangan .container h1 {
    font-size: 30px;
  }

  #main-undangan .container .couple-name {
    font-size: 60px;
  }

  #main-undangan .container .couple-main {
    width: 300px;
  }

  #main-undangan .container .couple-name::before,
  #main-undangan .container .couple-name::after {
    width: 300px;
  }

  #main-undangan .container .date-main {
    font-size: 40px;
  }

  #main-undangan .simply-countdown > .simply-section {
    padding: 46px;
    font-size: 20px;
  }

  /* +++++++++++++++++++++++++++++++ TEMPLATE UNDANGAN ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

  /* +++++++++++++++++++++++++++++++ TEMPLATE UNDANGAN ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
}

/* tablet */
@media (max-width: 768px) {
  .mynavbar .active {
    border-bottom: none;
  }

  #fitur .card {
    min-height: auto;
  }

  #harga .row {
    display: flex;
    justify-content: center;
  }

  #harga h3 {
    font-size: 20px;
  }

  #harga h6 {
    font-size: 16px;
  }

  #harga a {
    font-size: 16px;
  }

  /* +++++++++++++++++++++++++++++++ TEMPLATE UNDANGAN ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
  #open-undangan .couple {
    max-width: 200px;
  }
  #open-undangan .flower {
    max-width: 200px;
  }

  #main-undangan .container h1 {
    font-size: 30px;
  }

  #main-undangan .container .couple-name {
    font-size: 60px;
  }

  #main-undangan .container .couple-main {
    width: 300px;
  }

  #main-undangan .container .couple-name::before,
  #main-undangan .container .couple-name::after {
    width: 300px;
  }

  #main-undangan .container .date-main {
    font-size: 40px;
  }

  #main-undangan .simply-countdown > .simply-section {
    padding: 46px;
    font-size: 20px;
  }
  /* +++++++++++++++++++++++++++++++ TEMPLATE UNDANGAN ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
}

/* mobile phone */
@media (max-width: 576px) {
  #hero h1,
  #alasan h1,
  #fitur h1,
  #tema h1,
  #harga h1,
  #tentang_kami h1 {
    font-size: 24px;
  }

  #fitur h4 {
    font-size: 20px;
  }
  #hero h6,
  #alasan h6,
  #fitur h6,
  #tema h6,
  #harga h6,
  #tentang_kami h6 {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
  }

  #alasan h4 {
    font-size: 16px;
  }
  #alasan p {
    font-size: 12px;
  }

  #alasan img {
    width: 20px;
  }

  #alasan .row {
    padding-top: 2rem;
  }
  #alasan .features {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  #fitur .card {
    min-height: auto;
    min-width: none;
  }

  #fitur h5 {
    font-size: 18px;
  }
  #fitur p {
    font-size: 12px;
  }

  footer .container {
    text-align: center;
  }

  footer .copyright {
    text-align: center !important;
  }

  /* ++++++++++++++++++++++ TEMPLATE UNDANGAN ++++++++++++++++++++++++++++++++++++++++++++++ */
  /* .header {
    margin-bottom: 0rem !important;
  } */

  /* ++++++++++++++++++++++ TEMPLATE UNDANGAN ++++++++++++++++++++++++++++++++++++++++++++++ */
}

@media (max-width: 480px) {
  /* HP kecil */

  #open-undangan .header {
    margin-bottom: 10rem;
  }
  #open-undangan .couple {
    max-width: 200px;
  }
  #open-undangan .flower {
    max-width: 100px;
  }

  #hero .via-wa {
    font-size: 12px;
  }
  #hero .lihat-tema {
    font-size: 12px;
  }

  /* +++++++++++++++++++++++++++++++++++++++++++++++++ TEMPLATE UNDANGAN +++++++++++++++++++++++++++++++++++++++++++++++ */

  #main-undangan .container h1 {
    font-size: 25px;
  }

  #main-undangan .container .couple-name {
    font-size: 50px;
  }

  #main-undangan .container .couple-main {
    width: 230px;
  }

  #main-undangan .container .couple-name::before,
  #main-undangan .container .couple-name::after {
    width: 230px;
  }

  #main-undangan .container .date-main {
    font-size: 35px;
  }

  #main-undangan .simply-countdown > .simply-section {
    padding: 35px;
    font-size: 14px;
  }

  /* +++++++++++++++++++++++++++++++++++++++++++++++++ TEMPLATE UNDANGAN +++++++++++++++++++++++++++++++++++++++++++++++ */
}

@media (max-width: 380px) {
  /* HP kecil */

  #open-undangan .header {
    margin-bottom: 10rem;
  }
  #open-undangan .couple {
    max-width: 150px;
  }
  #open-undangan .flower {
    max-width: 80px;
  }

  #hero .via-wa {
    font-size: 12px;
  }
  #hero .lihat-tema {
    font-size: 12px;
  }

  /* +++++++++++++++++++++++++++++++++++++++++++++++++ TEMPLATE UNDANGAN +++++++++++++++++++++++++++++++++++++++++++++++ */

  #main-undangan .container h1 {
    font-size: 20px;
  }

  #main-undangan .container .couple-name {
    font-size: 45px;
  }

  #main-undangan .container .couple-main {
    width: 200px;
  }

  #main-undangan .container .couple-name::before,
  #main-undangan .container .couple-name::after {
    width: 200px;
  }

  #main-undangan .container .date-main {
    font-size: 30px;
  }

  #main-undangan .simply-countdown > .simply-section {
    padding: 33px;
    font-size: 12px;
  }

  #main-undangan .container .col-12{
    padding-top: 0;
  }

  /* +++++++++++++++++++++++++++++++++++++++++++++++++ TEMPLATE UNDANGAN +++++++++++++++++++++++++++++++++++++++++++++++ */
}
